.carousel .control-dots {
  padding-left: 0;
}

.carousel .slide .legend {
  position: absolute;
  bottom: 40px;
  left: 55%;
  margin-left: -45%;
  width: 80%;
  border-radius: 10px;
  background: white;
  color: var(--third);
  padding: 10px;
  font-size: 12px;
  text-align: center;
  opacity: 0.25;
  transition: opacity 0.35s ease-in-out;
}

.carousel .slide {
  border-radius: 4px;
  min-width: 100%;
  margin: 0;
  position: relative;
  text-align: center;
  background: linear-gradient(
    150deg,
    var(--third) 15%,
    var(--second) 70%,
    var(--main) 94%
  );
}
